.axis path, .axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

path.domain {
  display: none;
}

.investment_vehicle {
  margin: 0;
  text-align: center;
}

.investment_vehicle li {
  color: #71898f;
  display: inline-block;
  margin-right: 25px;
}

.investment_vehicle li.active {
  color: #00c6f8;
  font-weight: 500;
}

.investment_vehicle .alert-grey {
  background: #84999e;
  border-radius: 15px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  padding: 1px 7px;
  vertical-align: top;
}

.x.axis .tick text {
  fill: #71898f;
  font-size: .8em;
}

.line {
  stroke-width: 1;
}

.line.treasure {
  fill: none;
  stroke: #00c6f8;
}

.line.community {
  fill: none;
  stroke: #7ee4ed;
  stroke-dasharray: 15;
}

.line.insitutional {
  fill: none;
  stroke: #a9beee;
  stroke-dasharray: 5;
}

.treasure-stop-left {
  stop-color: rgba(255,255,255,.0);
  stop-opacity: 0;
}

.treasure-stop-right {
  stop-color: #00c6f8; /* rgba(0,198,248,.25)*/
  stop-opacity: .25;
}

.community-stop-left {
  stop-color: rgba(255,255,255,.0);
  stop-opacity: 0;
}

.community-stop-right {
  stop-color: #7ee4ed; /*  rgba(126,228,237,.25)*/
  stop-opacity: .25;
}

.institutional-stop-left {
  stop-color: rgba(255,255,255,.0);
  stop-opacity: 0;
}

.institutional-stop-right {
  stop-color: #a9beee; /* rgba(169,190,238,.25)*/
  stop-opacity: .25;
}

.area.treasure {
  fill: url('#treasure-gradient');
  stroke: #00c6f8;
  stroke-width: 0;
  fill-opacity: .9;
}

.area.community {
  fill: url('#community-gradient');
  stroke: #7ee4ed;
  stroke-width: 0;
  fill-opacity: .6;
}

.area.insitutional {
  fill: url('#institutional-gradient');
  stroke: #a9beee;
  stroke-width: 0;
  fill-opacity: .8;
}

.endpoints circle {
  box-shadow: 0 1px 1px rgba(0, 49, 61, 0.06),
    0 5px 6px rgba(0, 49, 61, 0.12),
    0 2px 3px rgba(0, 0, 0, 0.09);
  /* this is the SVG version of box-shadow*/
  -webkit-filter: drop-shadow( 0 2px 4px rgba(0, 49, 61, 0.36) );
  filter: drop-shadow( 0 2px 4px rgba(0, 49, 61, 0.36) );
  fill: #fff;
}

.text-labels text {
  fill: #71898f;
  font-size: .8em;
  text-anchor: start;
}

.legend {
  margin-left: 0;
}

.legend ul {
  list-style: none;
  margin: 0 auto;
  width: 70%;
  padding: 0;
}

.legend li {
  color: #71898f;
  display: inline-block;
  font-size: .8em;
  line-height: .8em;
  position: relative;
  margin-right: 2em;
}

.legend .icon {
  display: inline-block;
  width: 1em;
  height: .4em;
  margin: .2em .4em 0 0;
  vertical-align: top;
}

.legend #treasure .icon {
  border-top: 3px solid #00c6f8;
}

.legend #community .icon {
  border-top: 3px dashed #7ee4ed;
}

.legend #insitutional .icon {
  border-top: 3px dotted #a9beee;
}

span.apy {
  color: #71898f;
  display: block;
  font-size: 12px;
  margin: .5em 0 0 1.5em;
}

.dim-text {
  opacity: .5;
}

.area.dim-area {
  fill-opacity: .01;
}

.line.dim-line {
  stroke-width: 1;
  stroke-opacity: .3;
}

.line.highlight-line {
  stroke-width: 2;
}

.chart h3 {
  text-align: center;
}

.chart p {
  color: #71898f;
  font-size: 12px;
  text-align: center;
}